/sensor_board-backups
/#auto_saved_files#
_autosave-*
fp-info-cache
fp-lib-table
*-cache.lib
*.bak
*.kicad_pcb-bak
*.sch-bak
fp-info-cache
/bom
*.csv
*.xml
*.kicad_prl
*-backups
*.net
_autosave*
/gerber
*.gbr
*.gbrjob
*.zip
